earth2studio @git+https://github.com/secondlaw-ai/earth2mip.git#earth2studio[all]
earth2mip @ git+https://github.com/secondlaw-ai/earth2mip.git#earth2mip[pangu,graphcast]
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]==0.4.16
pytest-regtest==1.5.1